{%extends 'layout.html'%}

{%block container%}
<div class="card">
  <div class="card-body">
    <pre class="card-title">Problem: {{idea.problem}}</pre>
    <pre class="card-text">Solution: {{idea.solution}}</pre>
    <pre class="card-text">Extra info:{{idea.extra_info}}</pre>
  </div>
  {%if current_user.is_authenticated %}
  {%if type=='1' or type=='3'%}
  <a href="{{url_for('.accept_idea', idea_id= idea.id, type=type)}}" class="btn btn-primary">Accept</a>
  {%endif%}
  {%if type=='1' or type=='2'%}
  <a href="{{url_for('.new_project', idea_id= idea.id)}}" class="btn btn-primary">Create project</a>
  <a href="{{url_for('.decline_idea', idea_id= idea.id, type=type)}}" class="btn btn-danger">Decline</a>
  {%endif%}
  {%endif%}
</div>
{%endblock%}
