<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Hi {{project_manager.username}}, hay un nuevo candidato a la tasca : {{task.title}} del proyecto {{project.title}}. El nombre de usuario del candidato: {{user.username}}, su nombre: {{user.profile.name}} {{user.profile.last_name}},  email: {{user.email}} i telefono: {{user.profile.telephone}}. </h2>
    <div class="">

      <a href="{{local_server}}/recommendation_projects/{{project.id}}">See project</a>

    </div>
  </body>
</html>
